*{
    box-sizing: border-box;
}
body{
    background: #FFF1F1;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

/* header code */
.header{
    background: #E0A7A7;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    
}

a{
    text-decoration: none;
    color: black;
}

.headlist{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    padding-bottom:0;
}

.bol{
    font-weight: bold;
    font-size: 30px;
}


/* hero code */
.hero{
    background-image: url("images/herobackground.png");
    background-size:fill;
    background-blend-mode: overlay, multiply;
    background-color: #f8eded;

   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 110vh;
    flex:1;
}
.jahanara{
    padding: 20px;
}
.herotext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 40%;
}

.bolhero{
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 20px;
}
.semihero{
    font-weight: 600;
    padding-bottom: 20px;
}


/* intro code */

.boltitle, .mughtitle{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

.normtext{
    padding: 0px 300px 30px 300px;
}

@media screen and (max-width: 1000px) {
  .normtext {
    padding: 0px 50px 50px 50px;
  }
}


/*mughal life section*/
.mughflex{
    display: flex;
    flex-direction: row;
    flex:1;
    flex-wrap: wrap;
    padding: 30px 80px 80px 80px;
    justify-content: space-between;
}

.mughtext{
    padding: 50px;
    font-size: 25px;
    flex:1;
}
.mughmaptext{
    font-size: 15px;
}

@media screen and (max-width: 1000px) {
 

    .mughflex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px 20px 20px 0;
    }
    .mughtext {
    font-size: 20px;
    }
    .mughmap{
    max-height: 300px;
    max-width: 300px;
   
    }
    .mughmapfull{
    align-self: center;
    }
}


li{
    padding-bottom: 20px;
}

.paintings{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex:1;
    padding: 30px;
    padding-bottom: 100px;
    gap: 5px;
}

.painting{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    font-size: 10px;
    background-color: #eed6d6;
    padding: 30px 50px 30px 50px;
    border-radius: 15px;
}

.painthead{
    margin: 20px 0 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.tasfir{
    width: 300px;
}

.painttext{
    font-size: 20px;
}

/*below is the code for the most difficult section: mullah shah*/
.boxes{
    
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex:1;
    align-items: flex-start;
    margin: 0px 100px 30px 100px;
}

.leftbox, .middlebox, .rightbox{
    display: flex;
    flex-direction: column;
}

.box{
    background: white;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid gainsboro;

}

.boxtitle{
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
}

.boximage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.icon{
    max-width: 50px;
    margin: 0
}

.fulltitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.books{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 300px 0px 300px;
    justify-content: space-between;
    flex:1;
}


@media screen and (max-width: 1000px) {
 
   .books{
    padding: 20px;
   }
}

.book{
    max-width: 45%;
}
.booktitle{
    font-weight: bold;
    padding: 30px 0px 20px 0px;
    text-decoration: underline;
}

.persiansplit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}

.persiantext{
    max-width: 40%
}
.tombtext{
    padding: 0px 500px 0px 500px;
   color: grey;
}